<!DOCTYPE html>
<html>
<head th:replace="~{/admin/include/admin_head_header_footer.html::head}">

    <meta charset="UTF-8">
    <title>집으로 가는 길</title>
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body>

<script th:src="@{/js/admin/member_delete_confirm.js}"></script>

<header th:replace="~{/admin/include/admin_head_header_footer.html::header}">
</header>

<section>
    <div id="section_wrap" style="height: 550px;">
        <div id="carouselExampleCaptions" class="carousel slide mx-auto" style="max-width: 1500px;">
            <div class="container-fluid">
                <div class="row">

                    <main class="col-md-8 mx-auto px-md-4">
                        <div class="container">
                            <div class="row my-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="admin bg-light p-3 align-self-stretch" style="min-width: 600px; min-height: 200px;">
                                        <h2 style="margin-bottom: 20px;">관리자 계정 관리</h2>
                                        <th:block th:if="${session.loginedAdminMemberDto == null}">
                                        <p>
                                        <a th:href="@{/admin/member/create_account_form}" class="text-decoration-none text-dark">관리자 계정 생성</a>
                                        </p>
                                        </th:block>
                                        <th:block th:if="${session.loginedAdminMemberDto != null and session.loginedAdminMemberDto.a_m_approval == '1'}">
                                        <p>
                                        <a th:href="@{/admin/member/member_modify_form}" class="text-decoration-none text-dark">관리자 계정 수정</a>
                                        </p>
                                        </th:block>
                                        <th:block th:if="${session.loginedAdminMemberDto != null and session.loginedAdminMemberDto.a_m_approval == '2'}">
                                        <p>
                                        <a th:href="@{/admin/member/search_admin_list}" class="text-decoration-none text-dark">관리자 계정 리스트</a>
                                        </p>
                                        </th:block>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="admin bg-light p-3 align-self-stretch" style="min-width: 600px; min-height: 200px;">
                                        <h2 style="margin-bottom: 20px;">보호소</h2>
                                        <th:block th:if="${session.loginedAdminMemberDto != null}">
                                        <p>
                                            <a th:href="@{/admin/pets/shelter_list}" class="text-decoration-none text-dark">보호소 리스트</a>
                                        </p>

                                        <p>
                                            <a th:href="@{/admin/pets/all_pets_list}" class="text-decoration-none text-dark">보호동물 리스트</a>
                                        </p>
                                        </th:block>
                                        <p>
                                            <a th:href="@{/admin/pets/admin_pets_regist_form}" class="text-decoration-none text-dark">보호동물 등록</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="admin bg-light p-3 align-self-stretch" style="min-width: 600px; min-height: 200px;">
                                        <h2 style="margin-bottom: 20px;">실종 게시판</h2>
                                        <p>
                                            <a th:href="@{/admin/free/board/super_free_board_list}" class="text-decoration-none text-dark">실종 게시판 관리</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 d-flex justify-content-center">
                                    <div class="admin bg-light p-3 align-self-stretch" style="min-width: 600px; min-height: 200px;">
                                        <h2 style="margin-bottom: 20px;">후기 게시판</h2>
                                        <p>
                                            <a th:href="@{/admin/review/board/super_review_board_list}" class="text-decoration-none text-dark">후기 게시판 관리</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

<footer th:replace="~{/admin/include/admin_head_header_footer.html::footer}">
</footer>

</body>
</html>