<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{user/include/head_header_footer.html::head}">

<body>

<header th:replace="~{user/include/head_header_footer.html::header}"></header>
<script th:src="@{/js/user/free_board_js.js}" type="text/javascript"></script>
<script th:replace="~{/user/include/free_board_comment_js.html::js}" type="text/javascript"></script>

<link rel="stylesheet" th:href="@{/css/user/free_board_write.css}">

<section>

    <div class="container w-100 px-lg-5 mt-4">

        <!--본문-->
        <div class="w-100 m-2 mx-auto text-center border border-danger rounded">

            <!--제목-->
            <div class="w-100 p-2 mt-4 d-flex justify-content-first">
                <span th:text="${freeBoardDetailDto.fb_title}" style="font-size: 20px; font-weight: bold"></span>
            </div>

            <!--작성자, 작성일-->
            <div class="p-2 d-flex justify-content-between align-items-center border-bottom">
                <span th:text="${freeBoardDetailDto.u_m_id}"></span> &nbsp;
                <span th:text="${freeBoardDetailDto.fb_reg_date}" class="text-secondary"></span>
            </div>

            <!--사진-->
            <div th:if="${freeBoardDetailDto.fb_image != 'noImage'}" class="m-4">
                <img th:src="@{'/UploadImg/' + ${freeBoardDetailDto.fb_image}}" alt="img" class="d-block mx-auto mb-4" style="max-width: 600px;">
            </div>
            <!--실종/목격 동물정보-->

            품종   : <span th:text="${freeBoardDetailDto.fb_kind}" />&nbsp;/
            성별   : <span th:text="${freeBoardDetailDto.fb_gender}" />&nbsp;/
            중성화 : <span th:text="${freeBoardDetailDto.fb_neuter}" />&nbsp;/
            나이   : <span th:text="${freeBoardDetailDto.fb_age}" />&nbsp;/
            몸무게 : <span th:text="${freeBoardDetailDto.fb_weight}" /> kg&nbsp;/

            <span th:if="${freeBoardDetailDto.fb_region == '서울특별시'}">지역 : 서울특별시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '부산광역시'}">지역 : 부산광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '대구광역시'} " >지역 : 대구광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '인천광역시'}" >지역 : 인천광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '광주광역시'} " >지역 : 광주광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '세종특별자치시'}" >지역 : 세종특별자치시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '대전광역시'}" >지역 : 대전광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '울산광역시'}" >지역 : 울산광역시</span>
            <span th:if="${freeBoardDetailDto.fb_region == '경기도'}" >지역 : 경기도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '강원특별자치도'}" >지역 : 강원특별자치도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '충청북도'}" >지역 : 충청북도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '충청남도'}" >지역 : 충청남도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '전라북도'}" >지역 : 전라북도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '전라남도'}" >지역 : 전라남도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '경상북도'}" >지역 : 경상북도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '경상남도'}" >지역 : 경상남도</span>
            <span th:if="${freeBoardDetailDto.fb_region == '제주특별자치도'}" >지역 : 제주특별자치도</span>


            <!--내용-->
            <div class="m-5">
                <span th:utext="${freeBoardDetailDto.fb_content}"></span>
            </div>
        </div>

        <div class="w-100 d-flex justify-content-end mt-3">
            <!--해당 게시글이 로그인 중인 자신의 게시글인 경우에만 나타나는 수정 버튼-->

            <div th:if="${session.loginedUserMemberDto != null && session.loginedUserMemberDto.u_m_id == freeBoardDetailDto.u_m_id}">
                <a class="btn btn-outline-danger ms-3" th:href="@{/user/board/free_board_modify_form(fb_no=${freeBoardDetailDto.fb_no})}" style="text-decoration: none;">수정</a>
                <a class="btn btn-outline-danger ms-3" style="text-decoration: none;" th:attr="onclick=|deleteFreeBoardConfirm('${freeBoardDetailDto.fb_no}')|">삭제</a>
            </div>

            <input class="btn btn-outline-danger ms-3" type="button" value="목록" onclick="cancelButton();">
        </div>
    </div>

    <!--댓글 - 로그인 후-->
    <div class="container w-100 px-lg-5 mt-4" th:if="${session.loginedUserMemberDto != null}">
        <form name="write_comment_form">
            <div class="mb-0">
                <input type="hidden" name="u_m_id" th:value="${session.loginedUserMemberDto.getU_m_id()}">
                <input type="hidden" name="b_type" th:value="${freeBoardDetailDto.fb_category}">
                <input type="hidden" name="b_no" th:value="${freeBoardDetailDto.fb_no}">
                <input id="comment_input" class="w-100 p-4 border border-secondarys rounded" type="text" name="b_c_content" placeholder="댓글을 작성하세요.">
            </div>
            <div class="d-flex justify-content-end mt-3 mb-3">
                <input class="btn btn-outline-danger" type="button" value="작성" id="commentBtn">
            </div>
        </form>
    </div>

    <!--댓글 - 로그인 전-->
    <div class="container w-100 px-lg-5 mt-4" th:unless="${session.loginedUserMemberDto != null}">
        <div class="mb-0"><input class="w-100 p-3 border border-secondarys rounded" disabled readonly placeholder="로그인 후 댓글을 작성할 수 있습니다."></div>
        <div class="d-flex justify-content-end mt-3 mb-3">
            <a class="btn btn-outline-danger" th:href="@{/user/member/member_login_form}">작성</a>
        </div>
    </div>

    <div class="comment_list" id="comment_list">

    </div>

</section>

<footer th:replace="~{user/include/head_header_footer.html::footer}"></footer>


</body>
</html>