<!DOCTYPE html>
<html lang="en">
<head th:replace="~{admin/include/admin_head_header_footer.html::head}">

<body>
    <script th:src="@{/js/admin/member_js.js}"></script>
<header th:replace="~{admin/include/admin_head_header_footer.html::header}"></header>
<section>
    <div id="section_wrap">

        <div th:fragment="content" class="container mx-auto m-5" style="width: 500px;  border: 1px solid #ccc; border-radius: 15px;">
            <div class="form-group w-35 p-3 mt-3 mx-auto text-center">
                <span style="font-size: 24px; white-space: nowrap;">사용자 정보 수정</span>
            </div>
            <form th:action="@{/admin/member/member_password_modify_confirm}" name="admin_password_modify_form" method="post">
                <input type="hidden" name="a_m_no" th:value="${session.loginedAdminMemberDto.a_m_no}">
                <div class="form-group w-75 p-3 mx-auto">
                    <div class="form-floating mb-3">
                        <input type="text" name="a_m_id" class="form-control" id="floatingInput"th:value="${session.loginedAdminMemberDto.a_m_id}" readonly><br>
                        <label for="floatingInput">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="a_m_pw" class="form-control" id="floatingPassword" placeholder="기존 비밀번호"><br>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" name="a_m_Re_pw" class="form-control" id="floatingRePw"  placeholder="변경 비밀번호"><br>
                        <label for="floatingRePw">RePw</label>
                    </div>
                    <div class="form-floating mb-4">
                        <input type="password" name="a_m_Re_pw_confirm" class="form-control" id="floatingRePwConfirm"  placeholder="변경 비밀번호 재입력"><br>
                        <label for="floatingRePwConfirm">RePwConfirm</label>
                    </div>
                    <div class="text-center mb-4">
                        <input type="button" class="btn btn-dark" value="비밀번호 변경" onclick="adminPasswordModifyForm();"/>
                        <input type="reset" class="btn btn-dark" value="리셋">
                    </div>
                </div>
            </form>
        </div>

    </div>
</section>
<footer th:replace="~{admin/include/admin_head_header_footer.html::footer}"></footer>
</body>
</html>