<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/admin/common.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
</head>

<body class="text-center">

<script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
<script th:replace="~{/include/use_console.html::js}" type="text/javascript"></script>
<script th:src="@{/js/admin/member_login_form_js.js}" type="text/javascript"></script>

<header th:replace="~{/admin/include/admin_head_header_footer.html::header}">
</header>

<section>
    <div id="section_wrap">
        <div th:fragment="content" class="container mx-auto m-5" style="width: 500px;">
            <div class="form-group w-35 p-3 mt-3 mx-auto text-center">
                <span style="font-size: 24px; white-space: nowrap;">로그인</span>
            </div>
            <div id="member_login_form">
                <form th:action="@{/admin/member/member_login_confirm}" name="member_login_form" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" name="a_m_id" class="form-control" id="floatingId" placeholder="아이디를 입력하세요.">
                        <label for="floatingId">ID</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="a_m_pw" class="form-control" id="floatingPassword"
                               placeholder="비밀번호를 입력하세요.">
                        <label for="floatingPassword">Password</label>
                    </div>
                    <br>
                    <div class="text-center mb-4">
                        <input type="button" value="로그인" class="btn btn-dark btn-xs" style="width:40%"
                               onclick="memberLoginForm();">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="text-center m-5">
        <div class="go_create_account_form">
            <a th:href="@{/admin/member/create_account_form}" style="text-decoration: none; color: black;">회원가입</a>
        </div>
    </div>
    </div>
</section>

<footer th:replace="~{/admin/include/admin_head_header_footer.html::footer}">
</footer>

</body>
</html>